{% extends "base.twig" %}
{% block title %}Edita Imatge{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('editaFoto.css','css') }}">

{% endblock %}
    {% block header %}

        {{ parent(loguejat) }}
    {% endblock %}
{% block content %}



    <div>
    <h2>Les teves imatges</h2>
    </div>
{% for img in fotos %}

    <div class="col-md-4 col-sm-6 col-xs-6 thumbnail paquet">
        <img   src="assets/Pictures/No_Perfil/{{img.img_path}} "
               class="img-responsive">

        <a href="/edita_imatge/edita/{{ img.id }}" class="btn btn-primary">Edita</a>
        <a href="/edita_imatge/delete/{{ img.id }}" class="btn btn-danger">Delete</a>





    </div><!--col-md-4 col-sm-6 col-xs-6-->
{% endfor %}


{% endblock %}

