{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}

	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('home_logged.css','css') }}">
{% endblock %}
{% block content %}
	<a href="/register" class="btn btn-success">Registra't</a>
	<a href="/login" class="btn btn-primary">Login</a>
	<a href="/upload" class="btn btn-default">Afegir Foto</a>
	{#<a href="/login" class="btn btn-default">Afegir Foto</a>#}
	<a href="/user_comments" class="btn btn-warning">Comment List</a>
	<a href="/edicio_perfil" class="btn btn-success">Edit Profile</a>

	{#<a href="/mostViewed" class="btn btn-primary">GetMostViewed</a>#}
	<h1> HOME </h1>
	<section>

		<div class="board">
			<!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
			<div class="board-inner">
				<ul class="nav nav-tabs" id="myTab">
					<div class="liner"></div>
					<li class="active">
						<a href="#most_viewed" data-toggle="tab" title="most_viewed">
                      <span class="round-tabs one">
                              Most Viewed
                      </span>
						</a></li>

					<li><a href="#last_uploaded" data-toggle="tab" title="last_uploaded">
                     <span class="round-tabs two">
                         <!--<i class="fa fa-glass" aria-hidden="true"></i>-->
                         Last Uploaded
                     </span>
						</a>
					</li>



				</ul></div>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="most_viewed">
					<div class="row">

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="{{ tv[0] }}"
								 class="img-responsive">
							<h4>{{ t1[0] }}</h4>
							<h4>User</h4>
							<h4>{{ d1[0] }}</h4>
							<h4>{{ l1[0] }} Likes</h4>
							<h4>{{ v1[0] }} Visites</h4>

							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<i class="fa fa-heart"></i>
							<a href="/home_log" class="btn btn-success">Comment</a>
							<button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-heart"></i></button><i class="fa fa-heart"></i>
						</div><!--col-md-4 col-sm-6 col-xs-6-->


						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ tv[1] }}"
								 class="img-responsive">
                            <h4>{{ t1[1] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d1[1] }}</h4>
                            <h4>{{ l1[1] }} Likes</h4>
                            <h4>{{ v1[1] }} Visites</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ tv[2] }}"
								 class="img-responsive">
                            <h4>{{ t1[2] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d1[2] }}</h4>
                            <h4>{{ l1[2] }} Likes</h4>
                            <h4>{{ v1[2] }} Visites</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->


						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="{{ tv[3] }}"
								 class="img-responsive">
                            <h4>{{ t1[3] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d1[3] }}</h4>
                            <h4>{{ l1[3] }} Likes</h4>
                            <h4>{{ v1[3] }} Visites</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>

						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ tv[4] }}"
								 class="img-responsive">
                            <h4>{{ t1[4] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d1[4] }}</h4>
                            <h4>{{ l1[4] }} Likes</h4>
                            <h4>{{ v1[4] }} Visites</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-12-->


					</div><!--row-->

				</div><!----most_viewed-->


				<div class="tab-pane fade" id="last_uploaded">

					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="{{ lu[0] }}"
								 class="img-responsive">
                            <h4>{{ t2[0] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d2[0] }}</h4>
                            <h4>{{ l2[0] }} Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ lu[1] }}"
								 class="img-responsive">
                            <h4>{{ t2[1] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d2[1] }}</h4>
                            <h4>{{ l2[1] }} Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ lu[2] }}"
								 class="img-responsive">
                            <h4>{{ t2[2] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d2[2] }}</h4>
                            <h4>{{ l2[2] }} Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="{{ lu[3] }}"
								 class="img-responsive">
                            <h4>{{ t2[3] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d2[3] }}</h4>
                            <h4>{{ l2[3] }} Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>

						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="{{ lu[4] }}"
								 class="img-responsive">
                            <h4>{{ t2[4] }}</h4>
                            <h4>User</h4>
                            <h4>{{ d2[4] }}</h4>
                            <h4>{{ l2[4] }} Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

					</div><!--row-->


				</div><!----last_uploaded-->
				<div class="tab-pane fade" id="fashion">


					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/fashion/1/"
								 class="img-responsive">


						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/7/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/8/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/fashion/4/"
								 class="img-responsive">

						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/5/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->


					</div><!--row-->

				</div><!--three-->



			</div>

		</div>

	</section>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
