{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}

	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('home_logged.css','css') }}">
{% endblock %}
{% block content %}
	<a href="/register" class="btn btn-success">Registra't</a>
	<a href="/login" class="btn btn-primary">Login</a>
	<a href="/upload" class="btn btn-default">Afegir Foto</a>
	{#<a href="/login" class="btn btn-default">Afegir Foto</a>#}
	<a href="/user_comments" class="btn btn-warning">Comment List</a>
	<a href="/edicio_perfil" class="btn btn-success">Edit Profile</a>
	<div class="pull-right">
		<a href="/logout" class="btn btn-danger">Logout</a>

	</div>

	{#<a href="/mostViewed" class="btn btn-primary">GetMostViewed</a>#}
	<h1> FALTA CAMPS USER,LAST COMMENT I QUE ES PUGUI COMENTAR </h1>
	<section>

		<div class="board">

			<div class="board-inner">
				<ul class="nav nav-tabs" id="myTab">
					<div class="liner"></div>
					<li class="active">
						<a href="#most_viewed" data-toggle="tab" title="most_viewed">
                      <span class="round-tabs one">
                              Most Viewed
                      </span>
						</a></li>

					<li><a href="#last_uploaded" data-toggle="tab" title="last_uploaded">
                     <span class="round-tabs two">
                         <!--<i class="fa fa-glass" aria-hidden="true"></i>-->
                         Last Uploaded
                     </span>
						</a>
					</li>



				</ul></div>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="most_viewed">


					<div class="row">
                        {% for img in info1 %}

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="assets/Pictures/No_Perfil/{{img.img_path}} "
								 class="img-responsive">
                            <h4 ><a href="/bigPhoto/{{ img.img_path}}/{{img.title }}/{{ img.created_at }}/{{ img.likes }}/{{ img.visits }}">User</a></h4>
							<h4 >{{ img.title }}</h4>
							<h4 >{{ img.created_at }}</h4>
                            <h4>{{ img.likes }} Likes</h4>
							<h4>{{ img.visits }} Visites</h4>
                            <h4>Last Comment</h4>
							<form id=formulari enctype="multipart/form-data" name="formulari" class="form-horizontal" method="POST" action="/home_log/comment">
							<div class="form-group">
									<label for="comment">Comment:</label>
									<input type="text" class="form-control" rows="5" id="comentari1" name="comentari1">
								</div>
								<input type="submit"  value="Comment" name="button" class="btn btn-success">
							</form>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

                        {% endfor %}
					</div><!--row-->



					</div><!----most_viewed-->


				<div class="tab-pane fade" id="last_uploaded">



						<div class="row">
                            {% for img in info2 %}

								<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                                    <img src="assets/Pictures/No_Perfil/{{ img.img_path}} "
                                         class="img-responsive">
                                    <h4 ><a href="/bigPhoto/{{ img.img_path}}/{{img.title }}/{{ img.created_at }}/{{ img.likes }}/{{ img.visits }}">User</a></h4>
									<h4 >{{ img.title }}</h4>
									<h4>{{ img.created_at }}</h4>
                                    <h4>{{ img.likes }} Likes</h4>
									<h4>Last Comment</h4>
									<form id=formulari enctype="multipart/form-data" name="formulari" class="form-horizontal" method="POST" action="/home_log/comment">
										<div class="form-group">
											<label for="comment">Comment:</label>
											<input type="text" class="form-control" rows="5" id="comentari1" name="comentari1">
										</div>
										<input type="submit"  value="Comment" name="button" class="btn btn-success">
                                        </form>
								</div><!--col-md-4 col-sm-6 col-xs-6-->



                            {% endfor %}


					</div><!--row-->





			</div>

		</div>

	</section>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
