{% extends "base.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('login.css','css') }}">
{% endblock %}
{% block content %}<!DOCTYPE html>
    <a href="/home" class="btn btn-success">Home</a>
    <div class="container">
        <h4>{{ error }}</h4><!--Mostra missatge d'error si n'hi ha, provinent de SearchUser()-->

        <div class="row">
            <div class="container cols-sm-2 control-label" id="formContainer">

                <form class="form-signin" id="login"  method="GET" action="/searchUser">
                    <h3 class="form-signin-heading">Iniciar sessió</h3>
                    <a href="#" id="flipToRecover" class="flipLink">

                    </a>
                    <input type="text" class="form-control" name="user" id="user"  placeholder="Email o usuari" autofocus required/>
                    <input type="password" class="form-control" id="password" name="password" maxlength="12"
                           minlength="6" placeholder="Contrasenya" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Inicia</button>

                    <div class="login-register">
                        <a href="/register">No tinc usuari</a>

                    </div>
                    <div >


                    </div>
                </form>



            </div> <!-- /container -->
        </div>
    </div>
{% endblock %}
{% block scripts %}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}