{% extends "base.twig" %}
{% block title %}Notificacions{% endblock %}
{% block head %}
	{{ parent() }}


	<link rel="stylesheet" type="text/css" href="{{ asset('notificacions.css','css') }}">
{% endblock %}
{% block content %}
	<a href="/home_log" class="btn btn-success">Home</a>
	<h1>Notificacions</h1>
	<section>
	{% if size != 0 %}

        {% for i in 0..size - 1 %}
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail noti">
					<div >
                        <h4> {{ tipus[i] }} <h4>
                        <h5> Qui ho ha fet: {{ nom_user[i] }} <h5>
                        <h5> A la imatge: {{ titol_imatge[i] }} <h5>

					</div>
                </div>
        {% endfor %}
     {% endif %}

	</section>
{% endblock %}
{% block scripts %}
	{#<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>#}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
