{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <h4>assets/Pictures/No_Perfil/{{ imatge }}</h4>
    <img src="../assets/Pictures/No_Perfil/{{imatge}}" class="img-responsive">
    <h1>Titol: {{ titol }} </h1>
    <h1>{{ created }} </h1>
    <h1>{{ likes }} likes</h1>
    <h1>{{ visits }} visits</h1>

{% endblock %}
