{% extends "base.twig" %}
{% block title %}Show image{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('showPhoto.css','css') }}">

{% endblock %}
{% block content %}

    {% if loguejat == true %}
        <a href="/home_log" id="patras" class="btn btn-success">Enrere</a>
    {% endif %}
    {% if loguejat == false %}
        <a href="/home" id="patras" class="btn btn-success">Enrere</a>
    {% endif %}

        <img  src="/../assets/Pictures/No_Perfil/{{imatge}}" class="img-responsive img">
    <div id="e">
        <h1>Autor: {{ user}}</h1>
        <h3>Titol: {{ titol }} </h3>
        <h3>{{ created }} </h3>
        <h3>{{ likes }} likes</h3>
        <h3>{{ visits }} visits</h3>
    </div>

{% endblock %}

