{% extends "base.twig" %}
{% block title %}Show image{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('showPhoto.css','css') }}">

{% endblock %}
    {% block header %}
        {{ parent(loguejat) }}
    {% endblock %}
{% block content %}


        <img  src="/../assets/Pictures/No_Perfil/{{imatge}}" class="img-responsive img">
    <div id="e">
        <h1>Autor: {{ user}}</h1>
        <h3>Titol: {{ titol }} </h3>
        <h3>{{ created }} </h3>
        <h3>{{ likes }} likes</h3>
        <h3>{{ visits }} visits</h3>
        {% if loguejat %}
            <form id=formulari enctype="multipart/form-data" name="formulari" class="form-horizontal" method="POST" action="/home_log/comment/{{ id_img }}/{{ titol }}/{{ id_user }}">
                <div class="form-group">
                    <label class="comment" for="comment">-          Comenta:</label>
                    <input type="text" class="form-control" rows="5" id="comentari1" name="comentari1">
                </div>
                <input type="submit"  value="Comment" name="button" class="btn btn-success">
            </form>
            <form method="get" name="form2" action="/home_log/like/{{ id_img }}/{{ titol }}/{{ id_user }}">
                <input type="submit"  value="M'agrada" name="button" class="btn btn-warning">
            </form>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}