{% extends "base.twig" %}
{% block title %}Show image{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('showPhoto.css','css') }}">

{% endblock %}
{% block content %}
    <a href="/home_log" id="patras" class="btn btn-success">Enrere</a>
    <img  src="/../assets/Pictures/No_Perfil/{{imatge}}" class="img-responsive">
    <h1>Autor: {{ user}}</h1>
    <h1>Titol: {{ titol }} </h1>
    <h1>{{ created }} </h1>
    <h1>{{ likes }} likes</h1>
    <h1>{{ visits }} visits</h1>

{% endblock %}

