{% extends "base.twig" %}
{% block title %}Afegir Foto{% endblock %}
{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('upload.css','css') }}">
{% endblock %}
    {% block header %}
        {{ parent(loguejat) }}
    {% endblock %}
{% block content %}

    <h4>{{ error }}</h4>
  <form  id="photo" enctype="multipart/form-data" name="photo" class="form-horizontal" method="POST" action="/dataPhoto">
    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <h1>Afegir foto</h1>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                          Buscar <input name="imgInp" type="file" accept="image/*" id="imgInp">

                        </span>
                    </span>

                    <input type="text"  id="path" name="path"  class="form-control" readonly>

                </div>
                <div class="titol">
                <input type="text" class="form-control" placeholder="Títol" id="title" name="title">
                </div>
                <select name="private">Privadesa
                    <option value="0">Pública</option>
                    <option value="1">Privada</option>

                </select>
              <img id='img-upload'/>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Puja</button>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
{% block scripts %}

    {{ parent() }}
    <script src="{{ asset('upload.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}