{% extends "base.twig" %}
{% block title %}Comments{% endblock %}
{% block styles %}
	{{ parent() }}


	<link rel="stylesheet" type="text/css" href="{{ asset('user_comments.css','css') }}">
{% endblock %}
    {% block header %}
		{{ parent(loguejat) }}
	{% endblock %}
{% block content %}

	{#<a href="/mostViewed" class="btn btn-primary">GetMostViewed</a>#}
	<h1>Comentaris</h1>
	<section>
        {% if size != 0 %}
            {% for i in 0..size - 1 %}

                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                    <div>
                        <textarea readonly class="form-control" rows="5" id="comment">{{ c[i] }}</textarea>
                        <a href="/user_comments/delete/{{ ids[i] }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>

            {% endfor %}
        {% endif %}

	</section>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
{% block scripts %}
	{{ parent() }}
	{#<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>#}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
