{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}

	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('user_comments.css','css') }}">
{% endblock %}
{% block content %}
	<a href="/home_log" class="btn btn-success">Home</a>
	{#<a href="/mostViewed" class="btn btn-primary">GetMostViewed</a>#}
	<h1>Cal fer que mostri tants comentaris com tingui, no un numero fix
    Y QUE ESBORRI</h1>
	<section>
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
					<div>
						<textarea readonly class="form-control" rows="5" id="comment">{{ c[0] }}</textarea>
						<a href="/user_comments" class="btn btn-danger">Delete</a>
					</div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                    <div>
                        <textarea readonly class="form-control" rows="5" id="comment">{{ c[1] }}</textarea>
                        <a href="/user_comments" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                    <div>
                        <textarea readonly class="form-control" rows="5" id="comment">{{ c[2] }}</textarea>
                        <a href="/user_comments" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                    <div>
                        <textarea readonly class="form-control" rows="5" id="comment">{{ c[3] }}</textarea>
                        <a href="/user_comments" class="btn btn-danger">Delete</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
                    <div>
                        <textarea readonly class="form-control" rows="5" id="comment">{{ c[4] }}</textarea>
                        <a href="/user_comments" class="btn btn-danger">Delete</a>
                    </div>
                </div>

	</section>
{% endblock %}
{% block scripts %}
	{#<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>#}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
