{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}

	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('user_comments.css','css') }}">
{% endblock %}
{% block content %}
	<a href="/home_log" class="btn btn-success">Home</a>
	{#<a href="/mostViewed" class="btn btn-primary">GetMostViewed</a>#}
	<h1>Comments </h1>
	<section>

						<div>
							<textarea readonly class="form-control" rows="5" id="comment"></textarea>
							<a href="/user_comments" class="btn btn-danger">Delete</a>
						</div>
						<div>
							<textarea readonly class="form-control" rows="5" id="comment"></textarea>
							<a href="/user_comments" class="btn btn-danger">Delete</a>
						</div>
						<div>
							<textarea readonly class="form-control" rows="5" id="comment"></textarea>
							<a href="/user_comments" class="btn btn-danger">Delete</a>
						</div>
						<div>
							<textarea readonly class="form-control" rows="5" id="comment"></textarea>
							<a href="/user_comments" class="btn btn-danger">Delete</a>
						</div>

						<div>
								<textarea readonly class="form-control" rows="5" id="comment"></textarea>
								<a href="/user_comments" class="btn btn-danger">Delete</a>
							</div>




					</div><!--row-->

				</div><!----most_viewed-->


				<div class="tab-pane fade" id="last_uploaded">

					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/city/1/"
								 class="img-responsive">
							<h4>Title</h4>
							<h4>User</h4>
							<h4>Date</h4>
							<h4>Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/city/2/"
								 class="img-responsive">
							<h4>Title</h4>
							<h4>User</h4>
							<h4>Date</h4>
							<h4>Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/city/3/"
								 class="img-responsive">
							<h4>Title</h4>
							<h4>User</h4>
							<h4>Date</h4>
							<h4>Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/city/4/"
								 class="img-responsive">
							<h4>Title</h4>
							<h4>User</h4>
							<h4>Date</h4>
							<h4>Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>

						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/city/5/"
								 class="img-responsive">
							<h4>Title</h4>
							<h4>User</h4>
							<h4>Date</h4>
							<h4>Likes</h4>
							<h4>Last Comment</h4>
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea class="form-control" rows="5" id="comment"></textarea>
							</div>
							<a href="/home_log" class="btn btn-success">Comment</a>
						</div><!--col-md-4 col-sm-6 col-xs-6-->

					</div><!--row-->


				</div><!----last_uploaded-->
				<div class="tab-pane fade" id="fashion">


					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/fashion/1/"
								 class="img-responsive">


						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/7/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/8/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">

							<img src="http://lorempixel.com/500/500/fashion/4/"
								 class="img-responsive">

						</div><!--col-md-4 col-sm-6 col-xs-6-->

						<div class="col-md-4 col-sm-6 col-xs-6 thumbnail">
							<img src="http://lorempixel.com/500/500/fashion/5/"
								 class="img-responsive">
						</div><!--col-md-4 col-sm-6 col-xs-6-->




	</section>
{% endblock %}
{% block scripts %}
	{#<script src="{{ asset('home_logged.js','js') }}" type="text/javascript" charset="utf-8"></script>#}
	<script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
